/*!
 * Custom Giscus Theme for PlohoyMnuuu.github.io
 */
main {
  --color-canvas-default: #0d1520 !important;
  --color-canvas-overlay: #161b22 !important;
  --color-canvas-inset: #090d16 !important;
  --color-canvas-subtle: #192734 !important;
  --color-border-default: #22314d !important;
  --color-border-muted: #1a2540 !important;
  --color-fg-default: #adbac7 !important;
  --color-fg-muted: #768390 !important;
  --color-accent-fg: #adbac7 !important;
  --color-accent-emphasis: #adbac7 !important;
  --color-accent-muted: #adbac720 !important;
  --color-accent-subtle: #adbac710 !important;
  --color-btn-bg: #373e47 !important;
  --color-btn-hover-bg: #444c56 !important;
  --color-btn-text: #ffffff !important;
  --color-btn-primary-bg: #eac55f !important;
  --color-btn-primary-text: #192734 !important;
  --color-btn-primary-hover-bg: #d1b155 !important;
  border-radius: 16px !important;
  overflow: hidden !important;
}

.gsc-comment,
.gsc-reply,
.gsc-comment-box {
  border: 1px solid #22314d !important;
  box-shadow: none !important;
}

.gsc-comment-box-textarea,
.gsc-reply-box textarea,
input[type="text"],
textarea {
  outline: none !important;
  border: 1px solid #22314d !important;
  box-shadow: none !important;
}

.gsc-comment-box-textarea:focus,
.gsc-reply-box textarea:focus,
input[type="text"]:focus,
textarea:focus {
  outline: none !important;
  border: 1px solid #2d4060 !important;
  box-shadow: none !important;
}

.color-box-border-info,
.box-border-info {
  border-width: 1px !important;
  border-color: #22314d80 !important;
  box-shadow: none !important;
}

.gsc-reactions-count { display: none !important; }
.gsc-reactions-button { display: none !important; }
.gsc-comments-count,
.gsc-comments-count-separator .gsc-reactions-button { display: none !important; }
#__next .py-2 { display: none !important; }
.gsc-comment-box-textarea-extras { display: none !important; }
.gsc-upvote-button:disabled { display: none !important; }
.gsc-comment-box-tabs { display: none !important; }
.gsc-header, .gsc-left-header { display: none !important; }
#__next .text-xs { display: none !important; }
.gsc-social-reaction-summary-item-count { display: none !important; }

.gsc-timeline { flex-direction: column-reverse; }
.gsc-comments > .gsc-header { order: 1; }
.gsc-comments > .gsc-comment-box { margin-bottom: 1rem; order: 2; }
.gsc-comments > .gsc-timeline { order: 3; }

.gsc-comments {
  padding-top: 0 !important;
}

.gsc-main {
  width: 96% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: -16px !important;
  min-height: 200px !important;
}

#__next {
  min-height: 100% !important;
}
